@font-face {
  font-family: "MonumentExtended-Regular";
  src: local("MonumentExtended-Regular"),
    url(./fonts/MonumentExtended-Regular.otf);
  font-weight: bold;
}

#root {
  font-family: MonumentExtended-Regular;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}

body {
  background-color: black;
  overflow-x: hidden;
}
